body {
    margin: 0;
}

.header-area {
    background-color: cadetblue;
    color: #fff;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 8px 4px 16px #2c325c;
    transition: .3s;
}

.header-area:hover {
    color: red;
    text-decoration: underline;
}

.left-sidebar {
    width: 15%;
    background-color: rgb(219, 152, 75);
    overflow: hidden;
    height: 100vh;
    float: left;
    padding-left: 5%;
}

.content {
    width: 60%;
    background: honeydew;
    color: #dc143c;
    overflow: hidden;
    height: 100vh;
    float: left;
}

.right-sidebar {
    width: 15%;
    background: #dc143c;
    overflow: hidden;
    height: 100vh;
    float: right;
    padding-left: 5%;
}

.footer-area {
    background: #2c325c;
    color: #fff;
    text-align: center;
}

.content p {
    padding: 30px;
}

.footer-area p {
    background: #ffa8a8;
    color: #461f46;
    font-size: 22px;
    padding: 15px 0;
    transition: 0.3s;
    margin: 0;
}

.footer-area p:hover {
    color: rgb(94, 255, 0);
    background: grey;
}