body {
    margin: 0;
    padding: 0;
}

.container {
    background: #fbff00;
    /* solution 1 */
    overflow: hidden;
    /* solution 2 */
    /* height: 300px; */
}

.box {
    height: 300px;
    width: 300px;
    background-color: #30c530;
    float: left;
}

.another-box {
    width: 100px;
    height: 100px;
    background: rgb(52, 52, 184);
    overflow: hidden;
}