body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
}

.topbar {
    max-width: 100vw;
    height: 30px;
    background: gold;
}

.navbar {
    max-width: 100vw;
    height: 80px;
    background: goldenrod;
}

.left-sidebar {
    width: 15%;
    height: 100vh;
    background: blueviolet;
    float: left;
}

.main-content {
    width: 70%;
    height: 100vh;
    background: green;
    float: left;
    overflow: hidden;
}

.right-sidebar {
    width: 15%;
    height: 100vh;
    background: red;
    float: right;
    overflow: hidden;
}

.footer {
    color: red;
    background: gold;
    max-width: 100vw;
    padding: 20px 0;
}