@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
}

.main-menu {
    background-color: #E67A52;
}

.main-menu:after {
    content: '';
    display: block;
    clear: both;
}

.main-menu ul {
    list-style: none;
    margin: 0;
}

.main-menu>ul>li {
    float: left;
    margin-right: 1px;
    position: relative;
}

.main-menu ul li a {
    padding: 20px 12px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

.main-menu ul li:hover a {
    background-color: #ff622a;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.main-menu ul li:hover :last-child {
    border-bottom: none;
}

.active {
    background-color: coral;
}

.main-menu ul li a {
    color: #3f3c3c;
    text-decoration: none;
}

/* Submenu */

.main-menu ul ul {
    padding-left: 0;

    position: absolute;
    left: 0;
    top: 100%;
    min-width: 180px;
    z-index: 9999;
    display: none;
}

.main-menu ul li:hover>ul {
    /* visibility: visible;
    opacity: 1; */
    display: block;
}

.main-menu ul ul li:hover a {
    background: #2980b9;
}

.main-menu ul ul li {
    position: relative;
}

.main-menu ul ul ul {
    top: 0;
    left: 100%;
}

.main-menu ul ul ul ul {
    top: 0;
    left: -129%;
}

.main-menu ul ul ul li:hover a {
    background-color: #3f3c3c;
    color: #ffffff;
}

.main-menu ul ul ul ul li:hover a {
    background-color: #9f5555;
    color: #ffffff;
}