@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/**** Header Area ****/

.header-section {
  overflow: hidden;
  position: relative;
}

.header-section .logo-section {
  display: none;
}

.header-section .main-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px;
  width: 100%;
}

.header-section a {
  text-decoration: none;
  color: #545162;
}

.header-section .list-inline-item {
  margin-right: 22px;
}

.header-section .main-menu a {
  cursor: pointer;
  text-transform: uppercase;
  color: #4d4959;
  transition: all 0.3s;
}

.header-section .main-menu a:hover {
  color: #64c29e;
  font-weight: 600;
  border-bottom: 2px solid #64c29e;
}

.header-section .header-image img {
  max-width: 100%;
  height: auto;
}

.header-section .main-menu .logo:hover a {
  border: 0;
}

/* intro section */

.intro-section {
  padding: 100px 0;
  background: #f7f7f7;
}

.section .icon {
  width: 50px;
  height: 42px;
}

.section h2 {
  color: #353738;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 3em;
  text-transform: uppercase;
}

.section p {
  color: #848789;
  font-size: 17px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 34px;
}

.section .content {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.big-small {
  max-height: 485px;
  overflow: hidden;
}
.big-small-big {
  max-height: 485px;
  overflow: hidden;
}

.small-big {
  max-height: 485px;
  overflow: hidden;
}

.big img,
.small-img {
  width: 100%;
  height: auto;
}

.section {
  overflow: hidden;
}

.section .small,
.section .big {
  float: left;
  overflow: hidden;
}

.small-des {
  margin-top: 23px;
  margin-bottom: 23px;
  position: relative;
}

.small-des::after {
  content: "";
  height: 0;
  width: 0;
  border-top: 10px solid #ffffff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: 112%;
  left: 50%;
}

.big-small .small-img {
  background-image: url("/class-23-cycle-project/assets/img/vintage-bike-small.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 181px;
  background-position: bottom left;
}

.small-big .small-img {
  background-image: url("/class-23-cycle-project/assets/img/seat-black.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 179px;
  background-position: bottom left;
}
.big-small-big .small-img {
  background-image: url("/class-23-cycle-project/assets/img/chrome-wheels.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 179px;
  background-position: bottom left;
}

.big {
  position: relative;
}

.section-logo {
  position: absolute;
  top: 40%;
  left: 31%;
}

.small-des hr {
  width: 50px;
  margin: 0 auto;
  border: 0;
  border-top: 1px solid red;
}

/* Twitter Section */
.tweet-icon {
  color: #56c7ee;
  font-size: 34px;
}

.twitter-section {
  padding: 100px 0;
  background:#f7f7f7;
}

.twitter-section h2 {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 3em;
}

.twitter-section span {
  font-weight: 400;
  color: #353738;
  letter-spacing: 3px;
}

.content {
  width: 60%;
  display: block;
  text-align: center;
  margin: 0 auto;
}
