body {
    margin: 0;
    padding: 0;
}

h1 {
    height: 30px;
    max-width: 100vw;
    background: #214eaa;
    margin: 0 90px;
    padding: 40px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    box-shadow: 2px 4px 8px grey;
    color: aquamarine;
    transition: 0.3s;
    transform:translate(40deg);
}

h1:hover {
    text-shadow: 5px 7px 26px lightsteelblue;
    border-radius: 12px;
    margin-top: 49px;
    color: #fff;
}

h2 {
    height: 40px;
    max-width: 100vw;
    background: rgb(90, 74, 74);
    margin: 0 70px;
    padding: 40px;
    margin-bottom: 10px;
    text-align: center;
    float: right;
    box-shadow: 2px 4px 12px 8px #f500f5 inset;
    color: #fff;
}

h3 {
    height: 40px;
    max-width: 100vw;
    margin: 0 50px;
    background: #fc5400;
    padding: 50px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    box-shadow: 2px 4px 12px #00cc11;

}

h4 {
    height: 40px;
    max-width: 100vw;
    margin: 0 30px;
    background: rgb(108, 80, 250);
    padding: 50px;
    margin-bottom: 10px;
    text-align: center;
    float: right;
    box-shadow: 2px 4px 12px #045a9c;


}

h5 {
    height: 40px;
    max-width: 100vw;
    margin: 0 10px;
    background: rgb(191, 231, 81);
    padding: 50px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    box-shadow: 2px 4px 12px blueviolet;

}

.para {
    background: red;
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    color: #fff;
    text-shadow: 30px 10px 5px #280659;
}

#para {
    color: red;
    background: #fff;
    box-shadow: 4px 8px 12px royalblue;
    padding: 30px;
}

/* Second Part CSS */

.first {
    height: 250px;
    width: 350px;
    background: #f50000;
    float: left;
}

.second {
    height: 300px;
    width: 400px;
    background: #00f562;
    float: left;
}

.third {
    height: 350px;
    width: 480px;
    background: #b7cd0b;
    float: left;
}

.forth {
    height: 400px;
    width: 100px;
    background: #039542;
    float: left;
}

/* Structure Design */

.topbar {
    height: 40px;
    background-color: #b7cd0b;
}

.menu {
    height: 80px;
    background: #045a9c;
}

.content {
    background: #fc0000;
}

.content .left-sidebar {
    width: 10vw;
    height: 500px;
    background: #f500f5;
}

.content .right-sidebar {
    width: 10vw;
    height: 500px;
    background: #ffd105;
    overflow: hidden;
}

.content .myright-sidebar {
    width: 10vw;
    height: 500px;
    background: #6e5d0d;
}

.footer {
    background: #00f562;
    height: 80px;
}

.copyright {
    background: #35453b;
    height: 20px;
}