.box {
    width: 200px;
    height: 200px;
    background-color: crimson;
    float: left;
}

.big-box {
    width: 400px;
    height: 400px;
    background-color: lightgreen;
    overflow: hidden;
}