.box{
    width: 200px;
    height: 200px;
    background-color: crimson;
    box-shadow: 14px 17px 1px lightgray;
}

.big-box{
    width: 600px;
    height: 600px;
    background-color: darkseagreen;
}