body {
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
}

.header-area {
    background-color: #fff;
    box-shadow: 2px 2px 8px #a4b7de;
    padding: 10px 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #5c5c5c;
}

.header-area .logo-area {
    width: 30%;
    float: left;
}

.header-area .logo-area img {
    width: 60%;
}

.header-area .login-area {
    overflow: hidden;
    width: 70%;
}

.login-area label,
.login-area input {
    display: block;
}

.login-area label {
    font-size: 12px;
}

.login-area input {
    margin: 5px 0;
    padding: 3px;
    border: 1px solid;
}



.login-area input[type="checkbox"] {
    float: left;
    margin: 0;
    margin-right: 5px;
}

.login-area .username-area {
    float: left;
    margin-right: 15px;
}

.login-area .password-area {
    overflow: hidden;
    float: left;
    margin-right: 15px;

}

.login-area a {
    text-decoration: none;
    color: #5c5c5c;
    cursor: pointer;
}

.login-area a:hover {
    color: #5c5c5c;
    cursor: pointer;
    text-decoration: underline;
}

.login-area .submit-area {
    overflow: hidden;
    float: right;
}

.login-area form {
    float: right;
}

.submit-area button {
    padding: 5px 5px;
    margin-top: 15px;
    background: #1877f2;
    color: #fff;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
}

/* Media Query for Navbar */
@media all and (max-width:768px) {
    .header-area .logo-area {
        float: none;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }


    .header-area .login-area {
        width: 100%;
    }

    .login-area form {
        float: none;
        width: 390px;
        margin: auto;
        margin-bottom: 30px;
    }

    .login-area .submit-area {
        overflow: hidden;
        float: none;
    }
}

@media all and (max-width:420px) {

    .login-area form {
        width: auto;
    }

    .login-area .username-area {
        float: none;
        margin-bottom: 15px;
    }

    .login-area .password-area {
        float: none;
    }


    .login-area input[type="text"],
    .login-area input[type="password"] {
        width: 90%;
    }
}